.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#hero {
    text-align: center;
}


#about-me,
#hero,
#objectives {
    margin: 10px auto;
    padding: 20px;
    background-color: #1F1F1F;
    border-color: #383838;
    border-style: solid;
    border-radius: 8px;
}

#about-me,
#hero {
    max-width: 65%;
}

#objectives {
    width: 70%;
}

#about-me h2,
#objectives h2,
#hobbies h2 {
    text-align: center;
}

#about-me img {
    width: 125px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 5px;
}

p {
    margin: 20px 0;
}

#professional-experience {
    max-width: 80%;
    background-color: #1F1F1F;
    border-color: #383838;
    border-style: solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

#professional-experience h2 {
    font-size: 24px;
    /* Taille de police pour le titre */
    margin-bottom: 15px;
    text-align: center;
    /* Centre le titre */
}

#professional-experience ul {
    list-style: none;
    /* Retire les puces de la liste */
    padding: 0;
    margin: 0;
}

#professional-experience li {
    background-color: #1F1F1F;
    border-color: #383838;
    border-style: solid;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#professional-experience li strong {
    font-size: 18px;
}

#professional-experience p {
    color: #AAA;
    /* Couleur du texte de description */
    font-size: 14px;
    /* Taille de police pour la description */
    margin-top: 5px;
}