footer {
    padding: 20px;
    text-align: center;
}
footer a {
    margin: 0 10px;
}

footer img {
    width: 30px;
    height: 30px;
}

footer div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div img {
    margin-right: 5px;
}
