.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #FDFDFD;
}

.git {
    position: absolute;
    /* Position absolue pour le bouton */
    bottom: 10px;
    /* Distance du bas de la div */
    left: 50%;
    /* Positionnement à 50% de la largeur du conteneur */
    transform: translateX(-50%);
    /* Décaler le bouton de -50% de sa propre largeur pour le centrer */

    background-color: #0056b3;
    /* Couleur de fond */
    padding: 10px 20px;
    /* Espacement intérieur */
    text-align: center;
    /* Alignement du texte */
    text-decoration: none;
    /* Pas de soulignement pour le lien */
    display: inline-block;
    /* Type d'affichage */
    font-size: 16px;
    /* Taille de la police */
    margin: 4px 2px;
    /* Marge externe */
    cursor: pointer;
    /* Curseur en forme de pointeur */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Bordures arrondies */
    transition-duration: 0.4s;
    /* Durée de l'effet de transition */
}

/* Effet de survol pour le bouton */
.git:hover {
    background-color: #003d82;
    /* Couleur de fond au survol */
}


.project {
    padding-bottom: 55px;
    position: relative;
    background-color: #1F1F1F;
    border-color: #383838;
    border-style: solid;
    width: 300px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 4px 8px 0 blue; */
    transition: 0.3s;
    animation: fadeIn 1s ease-in-out;
    border-radius: 5px;
}

.project img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.project h3 {
    margin: 10px;
}

.project p {
    margin: 10px;
}

/* .project a {
    margin: 10px;
    display: block;
    text-align: center;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
} */

/* .project a:hover {
    background-color: #0056b3;
} */

.ready:hover {
    /* background-color: ; */
    box-shadow: 0 8px 16px 0 green;
}

.notready:hover {
    box-shadow: 0 8px 16px 0 red;
}

.color-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.legend-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.legend-items {
    display: flex;
    justify-content: center;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.legend-color.ready {
    background-color: green;
}

.legend-color.notready {
    background-color: red;
}

.legend-text {
    font-size: 16px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}